/acorn_details.csv
/daily_dataset
/daily_dataset.csv
/daily_dataset.csv.gz
/daily_dataset.zip
/halfhourly_dataset
/halfhourly_dataset.zip
/hhblock_dataset
/hhblock_dataset.zip
/informations_households.csv
/uk_bank_holidays.csv
/weather_daily_darksky.csv
/weather_hourly_darksky.csv
